<div class="container text-start mt-5">
  <div class="row">
    <div class="col gap-3">
      <h1>Bem vindos ao Twitter!</h1>
    </div>
    <div class="col">
      <ul class="list-group">
        <%= Tweet.find_each do |tweet| %>
          <li class="list-group-item"><%= tweet.user.email %> <%= tweet.body %></li>
        <% end %>
      </ul>
    </div>
    <div class="col">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-primary" %>    
    </div>
  </div>
</div>