<!DOCTYPE html>
<html>
  <head>
    <title>Mini Twi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash.any? %>
    <div class="container-sm" style="max-width: 500px;">
      <%= render "shared/flashes" %>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
